.page-header .header-links li a {
    font-weight: 300;
    color: var(--lightgrey-color);
    font-size: 14px;
}
.page-header .header-links li a:hover{
    color: var(--black-color);
}

.page-header a.contact-link {
    font-size: 14px;
    color: var(--lightgrey-color);
    font-weight: 300;
    font-size: 14px;
    padding-right: 8px;
}
.page-header .log-in-link{
    border: 1px solid var(--normalgrey-color);
    padding: 6px 13px;
    font-size: 14px;;
}
.page-header .header-btns {
    gap: 2px;
}
.page-header a.signup-link{
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 6px 17px;
    font-size: 14px;
    font-weight: 300;
}
.page-header .header-navigation {
    gap: 21px;
}
.header_buttons .log_in_btn{
    background-color: white;
}
.header_buttons .sign_up_btn{
    background-color: #222;
}
.navbar{
    max-width: 100%;
    margin: 0;
}
