@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .darkColor {
    color: #666
  }

  .font1 {
    font-family: 'Space Grotesk'
  }
}

/* font webkit */
@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* font webkit close */

/* colors */
:root {
  --lightgrey-color: #666;
  --black-color: #171717;
  --darkblack-color: #000;
  --normalgrey-color: #00000014;
  --white-color: #fff;
  --grey-white-color: #ededed;
  --accents-2: #eaeaea;
  --geist-foreground: #000;
  --geist-background: #fff;
  --geist-success: #0070f3;
}

/* padding */
:root {
  --geist-space-gap: 24px;
}
.token_token-k__OmoSP {
  --k-color: var(--geist-foreground);
  --n-color: var(--develop-text);
  --p-color: var(--geist-foreground);
  --c-color: var(--geist-secondary-dark);
}
canvas {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: pr;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(120px * 12);
}
.slider .slide img{
  height: 35px;
}
.antialiased{
  font-weight: 400;
  
}
.get_started_wrapper {
  margin: 0px 66px;
}
:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: #000;
  --foreground: white;
  .invertlogo{
    filter: invert(1);
    opacity: .85;
  }
  .__className_20951f{
    background: #000;
  }
  .darktext{
    color: #eaeaea;
  }
  .darksvg{
    background-color: #333;
    border: none;
  }
  .darkbackground{
    background: #111;
  }
  .header_buttons .log_in_btn {
    background-color: #111;
    color: #eaeaea;
    border: 1px solid #333;
    box-shadow: none;
  }

  .svgtransparent{
    background-color: #111;
    border: 1px solid #333;
    border-radius: 8px;
  }
  .header_buttons .sign_up_btn{
    background-color: #eaeaea;
    box-shadow: none;
    color: #111;
  }
  .darkbutton{
    background-color: #eaeaea;
    color: #111;
  }
  .indexdark{
    background: #111;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-top: 1px solid #333;
  } 
  .darknav{
     background-color: #000;
     border: none;
     
  }
  .border_class{
    border-color:#666;
  }
  .border-right{
    border-right-color: #666 ; 
  }
  .border_none{
    border: none;
  }
  .vite_img img{
    height: 150px;
}
.gradient_color{
  background: linear-gradient(#222 30%, #019ae9 70%);
}
.darkcolor{
  color: #111;
}
.svg-border{
  border: 1px solid;
  border-radius: 50%;
}
.gradient_color2{
  background-image: linear-gradient(#222 30%, #ff0080 70%) ;
}
._darkdash{
  border:1px solid #666;
  border-radius: 8px;
}
.dark_border_background{
  background-color: #161b22;

}
}