/* .outer-hero{
    padding: 3rem 0;
}
.outer-hero h1 span {
    font-size: 112px;
    font-weight: bolder;
}
.outer-hero h2 .hero_description {
    margin-bottom: 64px;
    font-size: 24px;
} */

html,body{
    overflow-x: hidden !important;
}
.develop_demo_benefits_item h5{
    text-wrap :balance;
    line-height: 29px;
    margin-bottom: 8px;

}
.footer_navigation button:hover {
    color: #fff;
}
.footer_navigation button{
    font-size: 18px;
}
.header_buttons span {
    text-transform: capitalize;
}
.outer-hero{
    padding-top: 100px;
}
.vite_img img{
    height: 150px;
}
.develop_demo_benefits{
    padding-left: 60px;
    padding-right: 70px;
}
.develop_demo_benefits p{
    font-size: 16px;
}
.outer_delight_visitor_section{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width:1180px){
    .center_path_lines .div_line{
        top:146px;
        height: 564px;
    }
    .center_path_lines .div_circle {
        top: 132px;
        left: 50px;
    }
    .div_circle2 {
        left: 1px;
    }
    .div_circle3{
        left: 1px;
    }
}

@media screen and (max-width:1024px){
    .hero_tittle_section h1{
        font-size: 5rem;
    }
    .outer-hero {
        padding-top: 140px;
    }
    .trusted_partners{
        margin: 0 41px;
    }
    .hero_tittle_section h2{
        line-height: 1.6em!important;
        font-weight: 400;
        font-size: 1.25rem;
        letter-spacing: -.02em;
        text-align: center;
        max-width: 740px;
        width: 100%;
        margin: 0 auto 64px;
    }
    .outer_btns {
        margin: 0 auto 96px;
    }
    .trusted_team_heading {
        padding: 0;
    }
    .trusted_team_heading h2{
        margin-bottom: 48px;
    }
    .outer_footer_links {
        margin-left: 11px;
    }
    .center_path_lines .div_circle {
        top: 93px;
        left: 35px;
    }   
    .center_path_lines .div_line {
        top: 107px;
        height: 549px;
    }
    .vite_img img {
        height: 95px;
    }
    .div_circle2 {
        left: 1px;
        top: 38px;
    }
}






@media screen and (max-width:991px) {
    .outer-hero {
        padding-top: 0;
        padding: 192px 100px 0px;
        position: relative;
        z-index: -1;
    }
    .outer-hero .hero_tittle_section  h1 {
        font-size: 8.7rem;
        line-height: 1;
        flex-wrap: wrap;
    }
    .outer-hero .hero_tittle_section h2 {
        font-size: 1.2rem;
        line-height: 32px;
        padding: 20px 0px;
    }
    .outer-hero .hero_tittle_section h2 br{
        display: none;
    }
    .outer-hero .hero_tittle_section button {
        gap: 0.25rem;
        font-size: 17px;
        margin-bottom: 27px;
    }
    .hero_tittle_section {
        padding: 0;
    }
    .trusted_partners{
        margin: 0;
        padding-top: 30px;
        padding-bottom: 110px;
    }
    .build_inspiration_heading .build_inspiration_heading1 {
        margin-bottom: 0.25rem;
    }
    .outer-hero  .outer_btns {
        margin-top: 1.625rem;
        gap: 0.75rem;
        margin-bottom: 1.625rem;
    }
    .build_inspiration_heading .build_heading2{
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
    .build_inspiration_heading p{
        width: 100%;
        margin-bottom: 20px;
        line-height: 35px;
    }
    .develop_demo {
        padding-top: 52px;
    }
    .develop_demo_flex .develop_demos_window{
        width: 100%;
    }
    .develop_demo_flex .develop_demo_benefits{
        width: 100%;
        padding: 0;
    }
    .main_outer_wrapper_item_section .preview-item_wrapper{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding-bottom: 20px;
    }
    .counter_section .counters{
        display: block;
    }
   
    .develop_demo .develop_demos_window .commerce_website .window_with_tabs {
        margin-left: 8px;
    }
    .develop_demo .develop_demo_benefits {
        padding-top: 260px;
    }
    .develop_demo_benefits_item .icon_demo_benefits\?_item {
        margin: auto;
        margin-top: 19px;
        margin-bottom: 16px;
    }
    .logos_framework div{
        margin: 13px 0px;
        width: 11%;
    }
    .works_frameworks {
        margin-bottom: 41px;
        margin-top: 40px;
    }
    .build_inspiration_heading h2 {
        font-size: 63px;
        line-height: 76px;
    }
    .preview_section .build_inspiration_heading h2 {
        text-align: center;
        margin: 0 0 24px;
        font-weight: 700;
        letter-spacing: -.05em;
        font-size: 3.75rem;
    }
    .build_inspiration_heading h4{
        font-size: 2rem;
        letter-spacing: -.05em;
        margin: 0;
        font-weight: 700;
    }
    .preview_section .develop_demo_benefits_item p {
        line-height: 29px;
    }
    .develop_demo_benefits_item .line_path{
        display: block;
    }
    .develop_demo_benefits_item .line_path .div_circle{
        position: unset;
    }
    .develop_demo_benefits_item .line_path .div_gradient{
        margin: auto;
    }
    .develop_demo_benefits_item{
        padding:0;
        text-align: center;
        margin: auto;
        padding-top: 30px;
    }
   .preview-item_wrapper  .center_path_lines {
        display: none;
    }
    .preview-item_wrapper .window_screen {
        margin-top: 30px;
    }
  
    .preview_content_text {
        margin-top: 20px;
    }
    .preview-comment_comment-table__3eKmg {
        width: 96%;
        margin: auto;
    }
    .preview_content_text p {
        margin: 6px;
        font-size: 11px;
    }
    .preview_comment_header {
        padding-left: 0px;
    }
    .preview_messages_content p {
        text-align: left;
    }
    .graphic_review .window_with_tabs {
        margin: 0;
        
    }
    .preview-item_descriptions-column-inner__3G2Rn {
        padding-bottom: 50px;
    }
    .graphic_review .tabs_section{
        font-size: 10px;
    }
    .ship_section_heading .line_path{
        display: block;
    }
    .main_outer_wrapper_item_section {
        padding-bottom: 20px;
    }
    .ship_section_heading .line_path .div_gradient {
        margin: auto;
    }
    .ship_section_heading h2 {
        text-align: center;
        margin: 0 0 24px;
        font-weight: 700;
        letter-spacing: -.05em;
        font-size: 3.75rem;
    }
    .outer_delight_visitor_section .section_content {
        width: 100%;
        text-align: center;
        padding: 0px 50px;
    }
    .ship_section_heading {
        margin-bottom: 30px;
    }
    .outer_delight_visitor_section .section_content p br{
        display: none;
    }
    .outer_delight_visitor_section .section_content h5{
        font-size: 22px;
        font-weight: 600;
    letter-spacing: -.05em;
    margin: 0 0 8px;
    }
    .ship_section_heading  p.sub-heading {
        line-height: 2rem;
    letter-spacing: -0.020625rem;
    font-size: 22px;
    }
    .ship_section_item .icon_demo_benefits\?_item {
        margin: auto;
        margin-bottom: 12px;
    }
    .clone_template h5{
        text-align: center;
    }
    .clone_link {
        text-align: center;
    }
    p.clone_content{
        text-align: center;
    }
    .delight_content {
        width: 70%;
        margin: auto;
        color: #666;
    }
    
    .ship_section_item {
        margin-bottom: 32px;
    }
    .outer_delight_visitor_section {
        margin-bottom: 26px;
        flex-wrap: wrap;
        padding-top: 0;
    }
    .counters .counter_content {
        border: 0;
        margin: 14px 0px;
        padding-bottom: 30px;
    }
   
    .begin_your_journey {
        padding: 5px 0px;
    }
    .get_started_wrapper{
        flex-wrap: wrap;
        padding-bottom: 50px;;
    }
    .Import_Git_Repository .Import_content {
        padding: 65px;
    }
    .get_started_button_information {
        margin-top: 50px;
    }
    .Import_link a {
        font-size: 13px;
    }
    .clone_template {
        margin-top: 40px;
        padding: 9px;
        border: none;
    }
    .ship_section_item p {
        width: 71%;
        margin: auto;
    }
    .framework_inner_card a img {
        height: 170px;
    }
    .vite_img img{
        height: 170px;
    }
    .globe_section{
        margin-top: 90px;
    }
    .counter_section{
        margin-top: -500px;
        position: relative;
    }
    .button_content .text_hide{
        display: none;
    }
    .Import_Git_Repository h5{
        text-align: center;
    }
    
    .develop_demo .develop_demos_window .code_editor {
        margin: auto;
    }
    .outer_window  {
        margin: auto;
        width: 75%;
    }
    .message-blue-box p {
        text-align: left;
    }
    .outer_preview_content {
        margin: auto;
    }
    .graphic_review {
        margin: auto;
        margin-top: 21px;
        width: 76%;
        padding-top: 40px;
    }
    .Import_Git_Repository {
        width: 70%;
    }
    .clone_template {
        width: 70%;
        background: #fafafa;
        border: 1px solid #ccc;
        padding: 20px;
    }
    .slider-section{
        display: block;
    }
    .desktop_logos{
        display: none;
    }
    .outer_footer_links{
        display: none;
    }
    .mobile_footer{
        display: block;
    }
    .about_footer{
        text-align: center;
    }
    .about_footer svg{
        margin: auto;
    }
    .about_footer .status_code{
        justify-content: center;
    }
   .copyright{
    text-align: center;
    padding-top: 20px;
   }
    .ship_anchor{
        display: initial;
    }
    .get_started_wrapper {
        margin: 0px;
      }
      .contact_link{
        display:none;
      }
      .contact_li{
        display: block;
      }
      .mobile-view{
        display: grid;
        margin: 20px 0px;
      }
      .mobile-view button{
        box-shadow: none;
      }
      .navbar{
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .branch_section p{
        font-size: 17px;
      }
      .outer_preview_content {
        width: 80%;
    }
    .branch_section{
        width: 80%;
    }
    .social_logos{
        justify-content: center;
    }
    .footer_logos {
        display: grid;
        justify-content: center;
    }
    
}

@media screen and (max-width:768px){
    .outer-hero {
        padding: 180px 65px 0px;
    }
    .outer-hero .hero_tittle_section  h1 {
        font-size: 6rem;
        flex-direction: column;
        display: flex;
        margin-bottom: 40px;
    }
    .outer-hero .hero_tittle_section h2 {
        padding: 0;
        font-size: 18px;
        width: 100%;
        max-width: 93%;
        font-weight: 400;
        font-size: 1.25rem;
        letter-spacing: -.02em;
        text-align: center;
        max-width: 740px;
        width: 100%;
        margin: 0 auto 64px;
    }
    .build_inspiration_heading p{
        max-width: 740px;
        width: 100%;
        margin: 0 auto 46px;
    }
    .develop_demo {
        padding-top: 0px;
        margin-bottom: 24px;
    }
    .outer-hero .outer_btns{
        margin-bottom: 96px;
       padding: 0;
    }
    .trusted_team_heading {
        padding: 0px 0px;
    }
    .trusted_partners {
        padding-bottom: 8rem;
        padding-top: 0px;
    }
    .build_inspiration h4 {
        font-size: 2rem;
        letter-spacing: -.05em;
        margin: 0;
        font-weight: 700;
    }
    .build_inspiration_heading h2 {
        text-align: center;
        margin: 0 0 24px;
        font-weight: 700;
        letter-spacing: -.05em;
        font-size: 3.75rem;
        text-wrap: balance;
    }
    .window_screen #code-container {
        font-size: 17px;
    }
    .commerce_website {
        left: 6%;
    }
    .window_screen{
        left: 0px;
        position: relative;
    }
    .develop_demo .develop_demo_benefits {
        margin-bottom: 64px;
        text-align: center;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding: 280px 0px 0px 0px;
    }
    .develop_demo_benefits_item {
        padding: 0;
        margin-bottom: 64px;
    }
    .develop_demo_benefits_item h5{
        font-size: 22px;
        font-weight: 600;
        letter-spacing: -.05em;
        margin: 0 0 8px;
    }
   
    .logos_framework div {
        width: 11%;
    }
    .preview_tittle{
        font-size: 56px;
    }
    .delight_content {
        width: 77%;
        margin: auto;
    }
    .review_ui p {
        margin: auto;
        width: 90%;
        margin-bottom: 50px;
    }

    .outer_window{
        width: 80%;
        margin-top: 20px;
    }
    .preview_section .develop_demo_benefits_item p {
        margin: 0;
        font-size: 16px;
    }
    .preview_messages_content p {
        text-align: end;
    }
    .window_screen{
        height: 210px;
    }
    .develop_demo_benefits_item .line_path .div_gradient{
        height: 6rem;
    }
    .main_outer_wrapper_item_section .preview-item_wrapper {
        padding-top: 20px;
    }
    .previus_push_comment{
        padding-left: 30px;
    }
    .branch_section{
        width: 480px;
        max-width: 100%;
        text-align: center;
        padding: 24px;
        margin: auto;

    }
    .develop_demo_benefits_item.review_ui{
        width: 480px;
        max-width: 100%;
        text-align: center;
        padding: 24px;
        margin: auto;
    }
    .develop_demo_benefits_item.review_ui a{
        font-size: 12px;
    }
    .graphic_review {
        padding-top: 0;
    }
    .globe_section canvas{
            width: 772px;
            height: 700px;
            transform: translateX(-69px);
    }
    .ship_section_item {
        margin: 0px 80px 32px;
    }
    .clone_link a{
        display: flex;
        justify-content: center;
    }
    .works_frameworks {
        margin-bottom: 64px;
        margin-top: 0px;
    }
    .develop_demo_benefits_item.push_section {
        width: 480px;
        max-width: 100%;
        text-align: center;
        padding: 24px;
        margin: auto;
    }
    .ship_section_heading h4{
        font-size: 2rem;
        letter-spacing: -.05em;
        margin: 0;
        font-weight: 700;
        margin-bottom: 16px;
    }
    .ship_section_heading h2{
        text-align: center;
        margin: 0 0 24px;
        font-weight: 700;
        letter-spacing: -.05em;
        font-size: 3.75rem;
        -webkit-background-clip: text;
    
    }
    
}






@media screen and (max-width:575px) {
    .outer-hero {
        padding-top: 0;
        padding: 120px 21px 0px;
    }
    .outer-hero .hero_tittle_section button {
        font-size: 16px;
        width: 100%;
    }
    .hero_tittle_section{
        padding: 0;
    }
    .page-header {
        padding: 0;
    }
    .build_inspiration_heading h4{
        padding: 20px 0px 15px;
        margin: 0;
    }
    .develop_demo .develop_demos_window .code_editor {
        width: 100%;
    }
    .develop_demo .develop_demos_window .commerce_website {
        left: 0;
    }
   
    .counter_section{
        margin-top: -390px;
    }
    .Import_Git_Repository {
        width: 100%;
        padding: 10px;
        box-shadow: none;
        border: none;
        padding: 20px;
    }
    .clone_template {
        width: 100%;
        background: #fafafa;
        padding: 20px;
    }
    .Import_Git_Repository h5 {
        font-size: 24px;
        text-align: center;
    }
    .Import_content p {
        padding: 0px 50px;
        line-height: 22px;
    }
    .window_with_tabs {
        margin: 0;
    }
    .graphic_review {
        margin-top: 30px;
        width: 100%;
    }
    .outer_delight_visitor_section .section_content{
        padding: 0px 0px;
    }
    .logos_framework div {
        width: 20%;
    }
    .trusted_partners h2{
        padding: 0px 30px 20px;
        margin: 0;
    }
    .hero_tittle_section .hero_description {
            padding: 0px 0px;
            line-height: 1.6em!important;
            font-weight: 400;
            font-size: 1.25rem;
            letter-spacing: -.02em;
            text-align: center;
            max-width: 740px;
            width: 100%;
            margin: 0 auto 64px;
       
    }
    .trusted_partners {
        padding-bottom: 80px;
    }
    .build_inspiration_heading h2 {
        font-size: 38px;
        line-height: 45px;
        font-weight: 600;
        text-wrap: balance;
    }
    .build_inspiration_heading p {
        max-width: 740px;
        width: 100%;
        margin: 0 auto 96px;
        padding: 0;
        font-size: 19px;
    }
    .window_with_tabs  span{
        padding: 8px;
    }
    .main_outer_wrapper_item_section .preview-item_wrapper {
        padding-top:0px;
    }
    .develop_demo .develop_demos_window .commerce_website .window_with_tabs {
        padding: 3px 26px 3px 45px;
        gap: 60px;
        margin: 0;
    }
    .develop_demo_benefits_item p {
        padding: 0;
        letter-spacing: -.02em;
        margin: 0;
        font-weight: 400;
    }
    .works_frameworks {
        margin-bottom: 41px;
        margin-top: 40px;
    }
    .develop_demo_benefits_item h5{
        font-size: 22px;
    font-weight: 600;
    letter-spacing: -.05em;
    margin: 0 0 8px;
    }
    .preview-item_wrapper .window_screen {
        margin-top: 40px;
        height: 250px;
    }
    .develop_demos_window {
        margin-bottom: 51px;
    }
    .stack_stack{
        justify-content: center;
    }
    .previus_push_comment {
        margin-left: 0;
        padding: 0;
    }
    .preview_messages_content p {
        text-align: center;
    }
    .ship_section_heading h2 {
        font-size: 35px;
        justify-content: center;
        display: flex;
        line-height: 37px;
    }
    .outer_delight_visitor_section .section_content h5 {
        text-wrap:balance;
    }
    .ship_section_heading {
        margin-bottom: 10px;
        color: #222;
    }
    .ship_section_item a{
        text-transform: capitalize;
    }
    .get_started_button_information {
        padding: 0px 30px;
    }
    .Import_Git_Repository .Import_content {
        padding: 24px;
    }
    .begin_your_journey .container {
        padding: 0;
    }
    .framework_inner_card {
        padding-left: 0;
    }
    .get_started_wrapper {
        padding-bottom: 0px;
    }
    .begin_your_journey {
        padding: 5px 0px 0px;
    } 
    .antialiased {
        font-weight: 400;
        font-size: .875rem;
        padding: 5px 0px;
    }
    .copyright{
        padding-top: 20px !important;
        margin: 0;
    }
    .outer-hero .hero_tittle_section  h1 {
        font-size: 4.5rem;
        line-height: 1;
        padding-top: 20px;
        letter-spacing: -.06em;
        margin: 0 0 40px;
    }
    .outer-hero .hero_tittle_section h2 {
        padding: 0px 0px 0px;
        font-size: 19px;
    }
    .outer-hero  .outer_btns {
        display: block;
    }
    .develop_demo .develop_demo_benefits {
        padding: 180px 0px 0px;
    }
    .preview_section .build_inspiration_heading h2 {
        text-align: center;
        margin: 0 0 24px;
        font-weight: 700;
        letter-spacing: -.05em;
        font-size: 2.75rem;
        line-height: 1;
    }
    .outer_window {
        width: 100%;
    }
    .previus_push_comment hr {
        margin-left: 33px;
    }
    .branch_section {
        width: 100%;
    }
    .outer_preview_content {
        width: 100%;
    }
    .framework_inner_card a img {
        height: 98px;
    }
    .clone_link {
        margin-bottom: 30px;
        text-align: center;
    }
    .review_ui p {
        width: 100%;
        margin-bottom: 30px !important;
    }
    .text_hide{
        display: none;
    }
    .ship_section_item{
        margin: 0;
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .ship_anchor{
        display: flex;
        align-items: center;
    }
    .delight_content {
        width: 100%;
        margin: auto;
    }
     .vite_img img{
        height: 100px;
     }
     .ship_section_item p {
        width: auto;
    }
    .ship_section_heading  p.sub-heading {
        line-height: 1.5rem;
        letter-spacing: -0.020625rem;
        font-size: 1.25rem;
    }
}
@media screen and (max-width:280px){
    .develop_demo .develop_demos_window .commerce_website .window_with_tabs {
        padding: 3px 16px 3px 11px;
        gap: 0px;
        margin: 0;
    }
    .graphic_review .window_with_tabs {
        padding: 0;
        gap: 0;
    }
    .graphic_review .window_with_tabs span {
        padding: 5px;
    }
    .outer-hero .hero_tittle_section  h1 {
        font-size: 3.5rem;
    }
}